*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



.container{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(14, 14, 14, 0.7),rgba(14, 14, 14, 0.7)), url(image/hoooghly.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


.logo{
    width:150px;
    cursor: pointer;
}

.navmenu{
    height: 12%;
    align-items: center;
    display: flex;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    margin-left: 50px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15.5px;
}

nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(70, 221, 211);
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}


.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
    
}

h1{
    color: #fff;
    font-size: 100px;
}

p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

.box{
    display: inline-block;
    height: 230px;
    width: 200px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.box1{
    background-image: url(image/victoria-memorial.jpg);
  
}

.box2{
    background-image: url(image/museum.jpg);
}

.box3{
    background-image: url(image/science-city.jpg);
}

.box4{
    background-image: url(image/dakhineswar.jpg);
}

.box:hover{
    transform: translateY(-10px);
}

h4{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(90, 90, 90);
    
}

.box p{
    color: rgb(0, 0, 0);
    font-size: 12px;

}









